<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>
<footer>
    <div class="card">
        <label>Friend Zone</label>
        <ul>
            <li><a href="/">London</a></li>
            <li><a href="/">Toronto</a></li>
            <li><a href="/">Hamberg</a></li>
            <li><a href="/">Brisbane</a></li>
            <li><a href="/">Sydney</a></li>
        </ul>
    </div>
    <div class="card">
        <label>Community</label>
        <ul>
            <li><a href="/">My Comunity</a></li>
            <li><a href="/">Hot Topics</a></li>
            <li><a href="/">All Topics</a></li>
        </ul>
    </div>
    <div class="card">
        <label>Information</label>
        <ul>
            <li><a href="/">FAQ</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </div>
</footer>
</html>